/*
!/.gitignore
!/.gitattributes
!/config/
!/plugins/
!/patchers
/plugins/BetterAutoRun.dll
/config/stringerapps.BetterAutoRun.cfg
/config/wackyDatabase-BulkYML/
/config/PlanBuild/blueprints/
*.dat
*.blueprint